.rbc-calendar
  td,th
    text-align center
  td
    cursor pointer
    border-radius: 5px
    &.rbc-today
      background-color #ddd
    &.rbc-selected-date
      background-color #357ebd
      color #fff
      font-weight bold

